@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    ul, ol{
        list-style: revert;
    }
    p{
        font-size: medium;
    }
    li{
        margin-left: 1em;
    }
}